[mysqld]
datadir = /var/lib/mysql
socket = /run/mysqld/mysqld.sock
port = 3306  # Choisissez le port que vous souhaitez utiliser

# Autres options de configuration que vous pourriez ajouter
# character-set-server = utf8mb4
# collation-server = utf8mb4_general_ci

[client]
port = 3306

[mysql]
socket = /run/mysqld/mysqld.sock

# Assurez-vous que le client peut se connecter au nouveau port
[mysqld_safe]
socket = /run/mysqld/mysqld.sock
