@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body, div, main, p {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

div p {
    font-size: 30px;
    font-weight: bold;
}

.parallax {
    /* width: 100vw; */
    height: 80vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

main {
    background-color: black;
    color: white;
    padding: 50px 20px;
}

#valorant {
    background-image: url(valorant.jpg);
    color: #e253d8;
    text-shadow: 2px 2px 4px #bcf705;
}

#fortnite {
    background-image: url(fortnite.jpg);
    color: #bcf705;
    text-shadow: 2px 2px 4px #e253d8;
}


